{% put styles %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" rel="stylesheet">
{% endput %}
{% put scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
{% endput %}
<section id="main-slider">
	<div data-slick='{"appendDots": "#main-slider>.container", "fade": true, "cssEase": "linear", "speed": 300, "infinite": true, "slidesToShow": 1, "slidesToScroll": 1, "dots": true, "arrows": false, "centerMode": true, "focusOnSelect": true}'>
		<div style="background-image: url({{ 'assets/images/slide-1.jpg'|theme }});"><div class="container"><p>
			Вы нажимаете на кнопку,<br>
			мы делаем все остальное.<br>
			<a href="/price" class="btn btn-danger">Подробнее</a>
		</p></div></div>
		<div style="background-image: url({{ 'assets/images/slide-2.jpg'|theme }});"><div class="container"><p>
			<strong class="text-strong text-uppercase">Нас выбирают профессионалы</strong><br>
			<small>Накопленные знания, многолетний опыт, повышение квалификации работников нашего предприятия позволяют находить простые решения для сложных задач.</small>
		</p></div></div>
		<div style="background-image: url({{ 'assets/images/slide-3.jpg'|theme }});"><div class="container"><p>
			<strong class="text-strong text-uppercase">Производство и поставка</strong><br>
			широкого ассортимента выпускаемой продукции<br>
			<a href="/products" class="btn btn-danger">Подробнее</a>
		</p></div></div>
		<div style="background-image: url({{ 'assets/images/slide-4.jpg'|theme }});"><div class="container"><p>
			Старейший производитель<br>
			<strong class="text-strong text-uppercase">термоусадочных изделий</strong><br>
			в России<br>
			<a href="/about" class="btn btn-danger">Подробнее</a>
		</p></div></div>
	</div>
	<div class="container"></div>
</section>
<div class="container">
	<div class="row">
		<nav id="main-products" class="col-xs-12 col-md-9 text-sm-center border-right-md">
			<h2 class="text-uppercase">Продукция и услуги</h2>
			{% partial 'menu-items' items=productsMenu.menuItems baseUrl='/products'|app class='nav row' %}
		</nav>
		<nav id="main-news" class="col-xs-12 col-md-3">
			<h2 class="text-uppercase">Новости</h2>
			<ul class="nav">
				{% set last_date = date('midnight') %}
				{% for post in posts %}
					<li>
						{% if last_date > post.published_at %}
							<small class="text-muted">{{ post.published_at|date('d %n$\\s Y')|format('января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря') }}<br></small>
							{% set last_date = post.published_at.startOfDay() %}
						{% endif %}
						{% if loop.first and post.featured_images.count %}
							{% set image = post.featured_images[0] %}
							<img src="{{ image.thumb(290, auto) }}" alt="{{ image.description }}" width="290" class="media-left">
						{% endif %}
						<a href="{{ post.url }}" class="text-dark">{{ post.summary|split(' ', 11)|slice(0, 10)|merge(['…'])|join(' ') }}</a>
					</li>
				{% endfor %}
				<li>
					<a class="text-muted" href="{{ '/category/news'|app }}"><small><em>Читать все новости »</em></small></a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="bg-texture">
	<article id="main-advantages" class="container">
		<h1 class="text-sm-center text-uppercase">Почему с нами работать выгодно:</h1>
		<input class="relay-deselect" type="radio" name="plus" id="plus0" style="display: none;" checked>
		<ol class="relay" data-comment="Выбирите преимущество что бы узнать больше…">
			<li>
				<input type="radio" name="plus" id="plus1" style="display: none;">
				<label for="plus1"><h2>Индивидуальный подход к каждому клиенту</h2></label>
				<p>Компания ТЕРМОФОРМ является лидером на российском рынке термоусаживаемых изделий. Участие компании в национальном рынке термоусаживаемых трубок оценивается в 30-40%.</p>
				<p>Нашими клиентами являются малые и средние, а также крупные машиностроительные предприятия и производители электротехнической продукции.</p>
				<p>Индивидуальный подход – важнейший принцип, согласно которому в работе с клиентами учитываются индивидуальные особенности не только бизнеса клиента, но и индивидуальные особенности каждого человека общающегося с нашей компанией.</p>
				<p>Индивидуальный подход к каждому клиенту - особая технология, в которой цены, сервис и логистика выстроены вокруг нашего клиента и он является центром притяжения в нашей системе координат.</p>
				<p>Поэтому качественный сервис и индивидуальный подход обеспечивают наше устойчивое конкурентное преимущество.</p>
				<p>Мы стараемся сделать для наших клиентов общение с нашей компанией простым и удобным. Менеджеры отдела продаж четко и быстро примут и обработают Ваш заказ по телефону, факсу, электронной почте и предоставят полную информацию по всем интересующим Вас вопросам, в том числе о стоимости и сроках реализации заявки, о свойствах продукции и деталях доставки груза.</p>
				<p>Все предложения и пожелания от клиентов выносятся на еженедельную комиссию дирекции компании, а потому мы действительно делаем сервис, ориентированный на клиента. Более 80% предложений и пожеланий воплощаются в жизнь.</p>
				<p>Мы смотрим на взаимоотношения с клиентами через призму партнерства и надеемся на долгосрочные отношения.</p>
			</li>
			<li>
				<input type="radio" name="plus" id="plus2" style="display: none;">
				<label for="plus2"><h2>Широкий перечень продукции</h2></label>
				<p>Несмотря на кризис, наша компания уверенно продолжает свою работу в сфере производства термоусаживающихся изделий. Это современная, высокотехнологичная продукция, получившая широкое распространение во многих областях промышленности.</p>
				<p>Ознакомиться с ассортиментом Вы можете самостоятельно или с помощью специалистов компании, которые подскажут необходимую информацию. По запросу могут быть высланы бесплатные образцы.</p>
			</li>
			<li>
				<input type="radio" name="plus" id="plus3" style="display: none;">
				<label for="plus3"><h2>Инновации и развитие</h2></label>
				<p>ТЕРМОФОРМ на постоянной основе самостоятельно и, с привлечением передовых инжиниринговых и процессинговых российских и иностранных компаний в области производства полимеров, занимается разработкой и тестированием новых материалов, благодаря чему создаваемые изделия отличаются наилучшим качеством, надежностью и функциональностью.</p>
				<p>По заказу клиентов мы разрабатываем и запускаем в производство новые типоразмеры термоусаживаемых трубок и других изделий, продукты с новыми техническими характеристиками и свойствами.</p>
			</li>
			<li>
				<input type="radio" name="plus" id="plus4" style="display: none;">
				<label for="plus4"><h2>Подбор аналогов зарубежных товаров</h2></label>
				<p>С учетом экономических и политических обстоятельств, сложившихся в последнее время, Правительством разрабатываются программы по импортозамещению. Наше предприятие  держит курс на производство  продукции, не уступающей импортным аналогам. Отличительной особенностью термоусаживающихся изделий, выпускаемых нашим предприятием, привлекательная цена при отличном качестве.</p>
			</li>
			<li>
				<input type="radio" name="plus" id="plus5" style="display: none;">
				<label for="plus5"><h2>Опытный персонал</h2></label>
				<p>Руководители и сотрудники нашей компании – грамотные специалисты, имеющие большой опыт работы в сфере производства и реализации термоусаживаемых изделий.</p>
				<p>Производство термоусаживаемых изделий основано в г. Соликамск Пермского края в 1974 году и по настоящее время было проведено три кардинальных модернизаций производства.</p>
				<p>За эти годы ведущими работниками компании накоплен большой практический опыт, который повсеместно передается от старшего поколения к более молодому поколению.</p>
				<p>На предприятии работают семейные династии.</p>
				<p>Работники нашей компании – самый ценный ее актив. У нас работает слаженный коллектив профессионалов, за плечами которых богатый опыт профильной деятельности.  Компания создает условия для повышения привлекательности работы и профессионального роста сотрудников. Отлаженное взаимодействие всех сотрудников нашей компании – это залог качественной работы и установления крепких партнерских взаимоотношений с нашими заказчиками.</p>
			</li>
			<li>
				<input type="radio" name="plus" id="plus6" style="display: none;">
				<label for="plus6"><h2>Логистика</h2></label>
				<p>Большое внимание уделяется совершенствованию сервиса и созданию максимально комфортных условий обслуживания клиентов.</p>
				<p>Наличие собственного большого складского хозяйства (более 1000 м2) позволяет постоянно иметь в наличии самые ходовые позиции производимой продукции.</p>
				<p>По сборным грузам мы работаем со всеми транспортными компаниями, представленными в Пермском крае: ООО «Деловые линии», ООО «Первая экспедиционная компания», ООО «Транспортная компания «КИТ», Желдорэкспедиция и др.</p>
				<p>Грузы до филиалов транспортных компаний в городе Перми довозим за свой счет.</p>
				<p>Кроме того доставку крупных партий осуществляем непосредственно прямыми рейсами своим автотранспортом или с использованием транспорта надежных транспортно-логистических компаний.</p>
				<p>Продуманные логистические цепочки поставок позволяют  нам существенно сокращать расходы по доставке продукции, что положительно влияет на цену товара для конечного потребителя.</p>
			</li>
		</ol>
	</article>
</div>
<div class="container">
	<section id="main-about">
		<h2 class="text-uppercase">О компании</h2>
		<p>Производство термоусаживаемых изделий (ТУИ) в г.Соликамск Пермского края основано в 70-х годах на предприятии Минсредмаша СССР. При производстве ТУИ используется квантовая технология модификации изделий (Кобальт-60) из композиций полиэтилена с целью достижения качественного и полного «эффекта памяти», высоких потребительских свойств в течение всего срока эксплуатации.</p>
		<p>ООО Термоформ - крупнейший производитель и поставщик термоусаживающихся изделий в России (ранее в СССР). Качество и надежность изделий нашего производства проверены десятилетиями эксплуатации. Постоянные потребители нашей продукции – предприятия энергетики и связи, кабельной промышленности, железнодорожного транспорта, автотранспорта и метрополитена и др.</p>
		<p><a class="text-muted" href="/about"><small><em>подробнее</em></small></a></p>
	</section>
	<div class="row">
		<section id="main-delivery" class="col-xs-12 col-md-9 border-right-md">
			<h2 class="text-uppercase">География поставок</h2>
			<p><img src="{{ 'assets/images/map.gif'|theme }}" alt="Карта" class="media-full thumbnail"></p>
			<p><a href="/about/delivery"><small>Посмотреть географию поставок</small></a></p>
		</section>
		<nav id="main-sundry" class="col-xs-12 col-md-3">
			<h2 class="text-uppercase">Разное</h2>
			{% partial 'menu-items' items=sundryMenu.menuItems class='nav row' %}
		</nav>
	</div>
</div>